<nav>
  <a href="/profile?id=<%=user[0].userId%>"> Profile </a>
  <a href="/topRec?id=<%=user[0].userId%>"> Recommendations </a>
  <a href="/userReviews?id=<%=user[0].userId%>">Reviews </a>
  <a href="/search?id=<%=user[0].userId%>"> Search </a>
  <a href="/myWatchlist?id=<%=user[0].userId%>"> My Watchlist </a>
  <a href="/logout"> Logout </a>
<!--   add reviews list for all users -->
</nav>